body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar{
    border-style: solid;
    color: black;
    background-color: black;
   
}

.navbar0{
    margin-left: 15%;
    margin-right: 15%;
}

.navbar a{
    text-decoration: none;
    color: white;
margin-right: 2.5%;
}

.navbar2 a {
float: right;
font-size: 15px;
}
.navbar1{
    font-size: 20px;
}